---
import Layout from "../../layouts/layout.astro";

import Empresa from "../../assets/empresa.json";

const { Datos } = Empresa;
const { nombre, cif, direccion, email } = Datos;
---

<Layout>
  <article>
    <header>POLÍTICA DE COOKIES</header>
    <p>
      La página web .- utiliza cookies cuando un usuario navega por la misma, y
      en caso de utilizar nuestra web sin proceder a la desactivación de las
      cookies, manifiesta su consentimiento para la instalación de las mismas.
    </p>

    <p>
      {nombre} en cumplimiento de lo previsto en el artículo 22.2 de la Ley 34/2002,
      de 11 de julio, de servicios de la sociedad de la información y de comercio
      electrónico (LSSICE), modificada por el Real Decreto-Ley 13/2012, de 30 de
      marzo, que traspone al ordenamiento jurídico español la Directiva 2002/58/CE,
      relativa al tratamiento de los datos personales y a la protección de la intimidad
      en el sector de las comunicaciones electrónicas, le informa lo siguiente:
    </p>

    <h3>Definición de cookies:</h3>
    <p>
      Una cookie es un fichero o archivo de texto que un servidor web puede
      guardar en el disco duro de un equipo para almacenar información sobre el
      usuario, y sólo puede ser leída por el sitio web que lo envió al equipo.
      Así como también, cualquier dispositivo de almacenamiento y recuperación
      de datos en equipos terminales de los destinatarios.
    </p>

    <h3>Tipos de cookies</h3>
    <p>Los tipos de cookies que utiliza esta página web son los siguientes:</p>

    <ul>
      <li>
        Cookies propias: Son aquéllas cookies que se envían al equipo terminal
        del usuario desde un equipo o dominio gestionado por el propio editor y
        desde el que se presta el servicio solicitado por el usuario.
      </li>
      <li>
        Cookies de sesión: Este tipo de cookies están diseñadas para recabar y
        almacenar datos mientras el usuario accede a una página web.
      </li>
      <li>
        Cookies de análisis: Son las cookies que bien tratadas por nosotros o
        por terceros, nos permiten cuantificar el número de usuarios y así
        realizar la medición y análisis estadístico de la utilización que hacen
        los usuarios del servicio ofertado.
      </li>
    </ul>

    <h3>¿Son anónimas las cookies?</h3>
    <p>
      Las cookies no contienen información que permita por sí sola identificar a
      un usuario concreto. Respecto a nosotros, la información obtenida sólo
      podrá ser asociada a un usuario concreto en caso de que dicho usuario esté
      identificado en la web. De ser así, dichos datos serán incorporados a
      ficheros de datos de carácter personal cuya responsabilidad recae sobre el
      titular de esta web y serán tratados para las finalidades indicadas en la
      presente política de uso de cookies, cumpliendo en todo momento con las
      exigencias de la normativa vigente en materia de protección de datos de
      carácter personal. En cualquier momento los usuarios afectados podrán
      ejercitar sus derechos de acceso, rectificación o cancelación de su
      información personal, así como el de oposición a su tratamiento, según se
      indica en la política de privacidad de nuestra web.
    </p>

    <h3>Tipo de cookies que utiliza {nombre} y finalidad.</h3>
    <p>
      {nombre} utiliza cookies que son controladas y gestionadas por el propio titular
      de la Web (cookies propias) y otras que lo son por terceros, por ejemplo, porque
      estos proporcionan una herramienta o un funcionalidad integrada a la web. Ciertas
      cookies se cancelan una vez finalizada la navegación en la web (cookies de
      sesión) como las que utilizas para los presupuestos, mientras que otras pueden
      seguir almacenadas en el equipo de los usuarios y ser accedidas por un periodo
      más largo (cookies persistentes)
    </p>

    <p>
      Al respecto, {nombre} en relación a las cookies de terceros solo utiliza Google
      Analytics, para los análisis de diversos aspectos anónimos de visitas de los
      usuarios a nuestro sitio web. Dicha cookie incluye las páginas visitadas, el
      tiempo pasado en la página, la versión del navegador utilizado, la fecha y
      la hora.
    </p>

    <h3>Desinstalación de las cookies</h3>
    <p>
      Todos los navegadores modernos ofrecen la facilidad para cambiar la
      configuración de las cookies. Estos ajustes se encuentran típicamente en
      las “opciones” o el menú “Preferencias” de su navegador elegido. A
      continuación encontrará una lista de enlaces que proporcionarán ayuda para
      cambiar la configuración de las cookies:
    </p>

    <ul>
      <li>
        <a
          href="https://support.microsoft.com/es-es/office/habilitar-las-cookies-6b018d22-1d24-43d9-8543-3d35ddb2cb52"
          >Internet Explorer</a
        >
      </li>
      <li>
        <a
          href="https://support.google.com/accounts/answer/61416?hl=es&co=GENIE.Platform%3DDesktop"
          >Google Chrome</a
        >
      </li>
      <li>
        <a
          href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
          >Firefox</a
        >
      </li>
      <li>
        <a href="https://help.apple.com/safari/mac/10.0/es.lproj/sfri11471.html"
          >Safari</a>
      </li>
    </ul>

    <p>Para más información al respecto consulte la ayuda de su navegador.</p>

    <h3>Forma de revocación y eliminación de las cookies</h3>
    <p>
      Usted como usuario tiene la posibilidad de configurar su navegador para
      impedir la entrada de cookies, bloquearlas o, en su caso, eliminarlas. En
      el caso de que usted como usuario decida bloquearlas, {nombre} no garantizará
      el correcto funcionamiento de los servicios prestados en este sitio.
    </p>

    <p>
      Para su comodidad, a continuación encontrará información proporcionada por
      los desarrolladores de los principales navegadores sobre la gestión de
      cookies:
    </p>

    <ul>
      <li>
        <a
          href="https://support.google.com/accounts/answer/32050?hl=es&co=GENIE.Platform%3DDesktop"
          >Chrome</a
        >
      </li>
      <li>
        <a
          href="https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09"
          >Explorer</a
        >
      </li>
      <li>
        <a href="https://support.mozilla.org/es/kb/Borrar%20cookies">Firefox</a>
      </li>
      <li><a href="https://support.apple.com/es-es/105082">Safari</a></li>
    </ul>

    <p>
      En caso de desactivar las cookies, es posible que no pueda hacer uso de
      todas las funcionalidades de la web.
    </p>

    <h3>Actualizaciones y cambios en la política de cookies</h3>
    <p>
      {nombre} podrá modificar esta Política de Cookies en función de exigencias
      legislativas, por ello se aconseja a los Usuarios que visiten a de manera periódica
      la presente Política.
    </p>
  </article>
</Layout>

<style>
  :root {
    --margen: 60px;
  }
  article {
    margin: var(--margen);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  ol,
  ul {
    margin-inline-start: calc(var(--margen) + 5px);
  }
  header {
    font-size: 25px;
    font-weight: bold;
  }
</style>
